<html lagn="ko" xmlns:th="http://www.thymeleaf.org">
<!--headerFragment 선언-->
<div th:fragment="headerFragment">
  <ul>
    <li><a class="active" href="/admin">대시보드</a></li>
    <li><a href="/admin/statistics/list">방문 통계</a></li>
    <li><a href="/admin/user/list">회원 관리</a></li>
    <li><a href="/admin/menu/list">메뉴 관리</a></li>
    <li><a href="/admin/expo/list">일정 관리</a></li>
    <li><a href="/admin/tag/list">태그 관리</a></li>
    <li><a href="/admin/event/list">이벤트 관리</a></li>
  </ul>
</div>
</html>